table
{
    color:blueviolet;
}
p
{
    color: brown;
}
div>h3
{
    color: olive;
}
*{
    box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column
{
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px;

}
.row::after
{
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout, makes the two colunms stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) 
{
    .column
    {
        width: 100%;
    }
}
nav
{
    float:left;
}
nav>ul>li
{
    float: left;
    padding: 0px 15px;
    list-style-type: none;
}
